img:hover {
    padding: 20px;
    border:4px solid rebeccapurple;
    margin: 20px;
    box-shadow:0 0  37px yellowgreen;
    border-radius: 20%;
}
  p:nth-child(1){
      background: rebeccapurple;
      font: 20px sans-serif;


}
/*.demo {
    color: aqua;
    list-style: square;
    display: inline-block;
}
body {
    background-image: url('./FV7TV5JIK5Q0FPF.LARGE.jpg');
    background-size:cover;
}*/
