<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>mywebapp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>myContextParam</param-name>
		<param-value>1234</param-value>
	</context-param>
	<servlet>
		<servlet-name>currentDate</servlet-name>
		<servlet-class>com.cg.mywebapp.servlets.Dateservlet</servlet-class>
		<init-param>
			<param-name>myConfigParam</param-name>
			<param-value>Hello</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>currentDate</servlet-name>
		<url-pattern>/currentDate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getEmp</servlet-name>
		<servlet-class>com.cg.mywebapp.servlets.GetEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getEmp</servlet-name>
		<url-pattern>/getEmp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginFormJsp</servlet-name>
		<jsp-file>/loginFormJsp.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginFormJsp</servlet-name>
		<url-pattern>/loginForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchEmployeeJspForm</servlet-name>
		<jsp-file>/SearchEmployeeJspForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchEmployeeJspForm</servlet-name>
		<url-pattern>/searchEmployeeJspForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addEmployeeJspForm</servlet-name>
		<jsp-file>/addEmployeeJspForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>addEmployeeJspForm</servlet-name>
		<url-pattern>/addEmployeeJspForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteEmployeeJspForm</servlet-name>
		<jsp-file>/deleteEmployeeJspForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteEmployeeJspForm</servlet-name>
		<url-pattern>/deleteEmployeeJspForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>homePageJsp</servlet-name>
		<jsp-file>/homePageJsp.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>homePageJsp</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateEmployeeJsp</servlet-name>
		<jsp-file>/updateEmployeeJspForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateEmployeeJsp</servlet-name>
		<url-pattern>/updateEmployeeJsp</url-pattern>
	</servlet-mapping>
</web-app>